#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
    box-sizing: border-box;
}

body{
    background-color: rgb(17, 23, 23);
}
h1{
    color: rgb(25, 125, 125);
}

input{
    background-color: rgb(114, 162, 162);
    padding: 1rem;
    width: 500px;
    margin: 1rem;
    border-radius: 8px;
    font-size: 1.2rem;
}
.buttonAdd{
    background-color: rgb(114, 162, 162);
    padding: 1rem;
}
ul{
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}
li{
    display: flex;
    margin: .5rem;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(114, 162, 162);
}
.buttonDelete{
margin-left:auto;
    margin-right:.5rem;
}
.buttonEdit{
    margin-right: .5rem;
}
li:hover{
    background-color: rgba(24, 95, 204, 0.18);
}
span{
    margin-left: .5rem;
    color:rgb(114, 162, 162);
}

@media(max-width:480px){
    body{
        background-color: rgb(10, 96, 96);
        width: 100%;

    }
    h1{
        font-size: 2rem;
    }
    input{
        width: 80%;
        height: .5rem;
    }
    ul{
        max-width: 80%;
        margin-top:1rem;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    li{
        display: flex;
        margin: .5rem;
        gap: 1rem;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        border-radius: 5px;
        border: 1px solid rgb(12, 12, 12);
    }
    .buttonAdd{
        width: auto;
        height: 3rem;
        color: rgb(0, 0, 0);
        padding: 1rem;
    }

    .buttonDelete{
        width:10%;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .buttonEdit{
        width:10%;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}