#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
    background-color: rgb(17, 23, 23);
}
h1{
    color: rgb(25, 125, 125);
}

input{
    background-color: rgb(114, 162, 162);
    padding: 1rem;
    width: 500px;
    margin: 1rem;
    border-radius: 8px;
    font-size: 1.2rem;
}
.buttonAdd{
    background-color: rgb(114, 162, 162);
    padding: 1rem;
}
ul{
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}
li{
    display: flex;
    margin: .5rem;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(114, 162, 162);
}
.buttonDelete{
margin-left:auto;
    margin-right:.5rem;
}
.buttonEdit{
    margin-right: .5rem;
}
li:hover{
    background-color: rgba(24, 95, 204, 0.18);
}
span{
    margin-left: .5rem;
    color:rgb(114, 162, 162);
}